body{
    background-image: url(./Images/ire5.jpg);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
    background-size: cover;
  }
  header{ 
    width: 100%;
    margin: auto;
    background-image: url(./Images/images\ \(3\).jpeg);
    box-shadow: 0px 3px 10px 5px black;
  }
  div{
    display: flex;

  }
  h1{
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px orange;
  }
  #text {
    box-sizing: border-box;
    font-size:25px ;
    font-style:italic;
    
    
    background-color: #eef0f0;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 10px black;
    text-shadow: 1px 1px 2px black, 0 0 10px blue, 0 0 5px white;
  }


  .w{
    width: 20%;
    box-sizing: border-box;
    
    border-radius: 20px;
    padding: 5px 5px;
    
  }
  #w{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
  }
  #x{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  #d{
      gap: 10px;
    }
  aside{
    width: 100%;
    box-sizing: border-box;
    background-color: #eef0f0;
    border-radius: 20px;
    padding: 5px 5px;
    padding-bottom: 0px;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    
    background-image: url(./Images/images.jpeg);
    background-size: 500px;
    background-position: -200px -50px;
    background-repeat: repeat-y;
    box-shadow: 5px 5px 10px black;
    
    
  }
  
.first1{
box-sizing: border-box;
margin: 5px 5px 5px 5px;
border-radius: 20px;
background-color: black;
height: 480px;
background-image: url(./Images/13.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
#first{
background-image: url(./Images/ire3.jpg);
}
#sec{
background-image: url(./Images/ire6.jpg);
}
  
  main{
    overflow-y: scroll;
    width: 60%;
    height: 700px;
    
    border-radius: 10px;
  }
  #last{
    box-sizing: border-box;
    background-image: url(./Images/images\ \(1\).jpeg);
   background-position: 0px 0px ;
   background-size:auto ;
    width: 80%;
    min-height: 200px;
    margin: auto;
    margin-top: 20px;
    display: flex;
   /* box-shadow: 0px 3px 10px 5px black;*/
    gap: 30px;
    padding: 0px 10px 0px 20px;
    background-image: none;

    
  }
  .last{
    width: 40%;
    box-sizing: border-box;
margin: 5px 5px 5px 5px;
border-radius: 100px;
background-color: black;
    height: 200px;
    
/*background-image: url(./Images/13.jpeg);*/
background-repeat: no-repeat;
background-position: center;
background-size: cover;
box-shadow: 0px 3px 10px 5px black;


  }
  #pic{
    border-radius: 30px;
    background-color: #eef0f0;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    height: 300px;
    padding: 0px;
    background-image: url(./Images/images\ \(3\).jpeg);
    background-position: 0px -20px;
    background-size: contain;
    box-shadow: 0px 3px 10px 5px black;
    box-shadow: 5px 5px 10px black;
    
  }
  #pi{
    border-radius: inherit;
    width: 100%;
    background-image: url(./Images/ire12.jpeg);
    background-repeat: no-repeat;
background-position: 0px -100px;
background-size: cover;


  }
  #a{
    background-image: url(./Images/ire7.jpg);
  }
  #b{
    background-image: url(./Images/ire10.jpg);
    background-position: 0px 0px;
  }
  #c{
    background-image: url(./Images/irrr.png);
  }
  video{
    border-radius: 20px;
    background-color: blue;
    margin: 20px 0px 0px 30% ;
    box-shadow: 0px 3px 10px 5px black;
    background-image: url(./Images/images.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
  }
  #buk{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
    padding: 10px 10px 20px 10px;
    min-height: 70px;
    box-shadow: 0px 3px 10px 5px black;
  }
  #bukky{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 0px 10px 0px;
    font-size: 80px;
    box-sizing: border-box;
    
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 5px 0px 0px 0px;
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px orange;
  }